{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ apartment.title }}</title>
    <link rel="stylesheet" href="{% static 'apartment/css/detail_page.css' %}">
</head>
<body>
    <header>
        <div class="logo">
            <a href="/">
                <img src="{% static 'apartment/img/logo_3.png' %}" alt="Logo" width="40" height="40">
            </a>
        </div>
        <div class="profile-button">
            <button class="profile-button" onclick="window.location.href='/profile/'">
                <img src="{% static 'apartment/img/icon-profile.png' %}" alt="Иконка профиля">
                <span>Личный кабинет</span>
            </button>
        </div>
    </header>

    <main>
        <section class="apartment-detail">
            <h1>{{ apartment.title }}</h1>
            <div class="apartment-images">
                {% for image in apartment.images.all %}
                    <img src="{{ image.image.url }}" alt="{{ apartment.title }}">
                {% endfor %}
            </div>
            <p><strong>Owner:</strong> {{ apartment.owner.username }}</p>
            <p><strong>Category:</strong> {{ apartment.category.name }}</p>
            <p><strong>Location:</strong> {{ apartment.location }}</p>
            <p><strong>Price:</strong> {{ apartment.price }} сом</p>
            <p><strong>Price in Dollars:</strong> {{ apartment.price_dollar }} $</p>
            <p><strong>Amenities:</strong>
                {% for amenity in apartment.amenities.all %}
                    {{ amenity.name }}{% if not forloop.last %}, {% endif %}
                {% endfor %}
            </p>
            <p><strong>Description:</strong> {{ apartment.description }}</p>
            <p><strong>Views:</strong> {{ apartment.count_views }}</p>
        </section>
    </main>

    <footer>
        <div class="footer-content">
            <div class="contact-info">
                <p>Contact us:</p>
                <p><i class="fab fa-whatsapp"></i> <a href="https://wa.me/your_number" target="_blank">WhatsApp</a></p>
                <p><i class="fab fa-instagram"></i> <a href="https://instagram.com/your_profile" target="_blank">Instagram</a></p>
                <p><i class="far fa-envelope"></i> <a href="mailto:your_email@example.com">Email</a></p>
                <p><i class="fab fa-telegram-plane"></i> <a href="https://t.me/whyupepe" target="_blank">Telegram</a></p>
            </div>
            <div class="footer-text">
                <p>© 2024, «Nedvizhimost»™. All rights reserved.</p>
            </div>
        </div>
    </footer>
</body>
</html>
