{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация</title>
    <link rel="stylesheet" href="{% static 'apartment/css/register.css' %}">
</head>
<body>
<header>
</header>

<main class="register-container">
    <h2>Регистрация</h2>
    <form method="post" class="register-form">
        {% csrf_token %}
        <label for="username">Имя пользователя:</label><br>
        <input type="text" id="username" name="username" required><br>
        <label for="email">Email:</label><br>
        <input type="email" id="email" name="email" required><br>
        <label for="password">Пароль:</label><br>
        <input type="password" id="password" name="password" required><br>
        <label for="password_confirm">Подтверждение пароля:</label><br>
        <input type="password" id="password_confirm" name="password_confirm" required><br>
        <button type="submit" class="register-button">Зарегистрироваться</button>
    </form>
    <div class="links">
        <a href="{% url 'login' %}" class="link">Вход</a>
        <a href="/" class="link">На главную</a>
    </div>
</main>

</body>
</html>
