{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация</title>
    <link rel="stylesheet" href="{% static 'apartment/css/register.css' %}">
</head>
<body>
<header>
</header>

<main class="register-container">
    <h2>Регистрация</h2>
    <form method="post" class="register-form">
        {% csrf_token %}
        <label for="email">Email:</label><br>
        <input type="email" id="email" name="email" required><br>

        <label for="password">Пароль:</label><br>
        <input type="password" id="password" name="password" required><br>

        <label for="password_confirm">Подтверждение пароля:</label><br>
        <input type="password" id="password_confirm" name="password_confirm" required><br>

        <label for="name">Имя:</label><br>
        <input type="text" id="name" name="name" required><br>

        <label for="surname">Фамилия:</label><br>
        <input type="text" id="surname" name="surname" required><br>

<!--        <label for="phone_number">Номер телефона:</label><br>-->
<!--        <input type="text" id="phone_number" name="phone_number"><br>-->

<!--        <label for="date_of_birth">Дата рождения:</label><br>-->
<!--        <input type="date" id="date_of_birth" name="date_of_birth"><br>-->

        <button type="submit" class="register-button">Зарегистрироваться</button>
    </form>
    <div class="links">
        <a href="{% url 'login' %}" class="link">Вход</a>
        <a href="/" class="link">На главную</a>
    </div>
</main>

</body>
</html>
