<!-- templates/account/register_done.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Complete</title>
         <link rel="stylesheet" href="{% static 'apartment/css/register.css' %}">
</head>
<body>
    <div class="container">
        <h2>Registration Complete</h2>
        <p>An email has been sent to your email address with an activation code. Please check your inbox and click on the link to activate your account.</p>
    </div>
</body>
</html>
